.navbar {
  padding: 15px;
  background-color: #282c34;
  color: white;
  display: flex;
  gap: 20px;
}

.navbar-brand {
  margin: 0;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 15px;
  align-items: center;
}

.navbar-link {
  color: white;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

/* Tego w inline-styles byśmy nie zrobili! */
.navbar-link:hover {
  color: #61dafb; 
}