body {
  background-color: #0f172a;
  color: #e2e8f0;
  margin: 0;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  min-height: 100vh;
}

ul {
  padding: 1em;
  list-style-type: none;
}

.list-item {
  background-color: #1e293b;
  padding: 1rem;
  margin-bottom: 0.6rem;
  border-radius: 15px;
  border: 2px dotted #334155
  
}

.income-item {
  background-color: #064e3b;
  border: 2px dotted #059669;
  border-left: 8px solid #10b981;
}

.expense-item {
  background-color: #450a0a;
  border: 2px dotted #b91c1c;
  border-left: 8px solid #ef4444;
}